/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 sept. 2017, 11:35:45
    Author     : carlos-ignis
*/
.titlefont-custom{
    font-weight: bold !important;
    color: #000 !important;
}

.titlefont-custom-green{
    /*font-size: 18px;*/
    color: #245C5D !important;
}

.pricelist-wrapper.col5 ul li {
    width: 16%;
}
.button_teste{
    background: #2DB573;
    color: #fff;
    padding: 5px 30px 5px 30px;
    min-width: 50px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.cgv{
    color: #ccc;
}
.cgv:hover{
    color: #000 !important;
}
.e-pilote{
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 18%;
    text-align: center;
}
.e-pilote img{
    width: auto;
    margin: auto;
}
ul.services li i {
    color:  #3BAC72 !important;
}
figure.effect-sadie2 img {
    opacity: 0.6 !important;
}
.teste-img{
    position: absolute;
    width: 134px;
    left: 30%;
}