<tr>
    <td>&nbsp;</td>
    <td height="30">
        <strong>Nom :</strong>
    </td>
    <td height="30" class="value">
        <?= $datas['nom'] ?>
    </td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td height="30">
        <strong>E-mail :</strong>
    </td>
    <td class="value"><?= $datas['email'] ?></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td height="30">
        <strong>Telephone :</strong>
    </td>
    <td class="value"><?= $datas['telephone'] ?></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td colspan="4" height="10">&nbsp;</td>
</tr>            
<tr>
    <td>&nbsp;</td>
    <td valign="top">
        <strong>Message : </strong>
    </td>
    <td class="value">
        <?= nl2br($datas['message']) ?>
    </td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td colspan="4" height="30">&nbsp;</td>
</tr>